name: s3 deployment

on:
  push:
    branches: [develop]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Node setup
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: NPM install
        run: npm i

      - name: Build
        run: STAGE=dev npm run build

      - name: Copy files to s3
        run: aws s3 sync ./dist s3://everlook-youtube

      - name: Invalidate CDN cache
        run: |
          aws cloudfront create-invalidation \
            --distribution-id E18DUVGBLQC9ZL \
            --paths "/*"